body{
    background-color: rgb(9, 32, 34);
    font: normal 15pt Arial;
}

section{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 10px 10px 20px black;
}

header {

    color: white;
    text-align: center;

}

footer {

    color: white;
    text-align: center;
    font-style: italic;

}

#imagem {


    width: 300px;
    height: 300px;
    border-radius: 50%;

}

div {

    text-align: center;
    padding: 25px;



}